In [1]:
import pandas as pd

In [2]:
df_list = pd.read_html("https://www.imdb.com/chart/top")

In [4]:
df_list[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Skazani na Shawshank (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Ojciec chrzestny (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Ojciec chrzestny II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. Mroczny Rycerz (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Dwunastu gniewnych ludzi (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Narzeczona dla księcia (1987),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Noce Cabirii (1957),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,"248. Paryż, Teksas (1984)",8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Trzy kolory: Czerwony (1994),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Mandarynki (2013),8.0,12345678910 NOT YET RELEASED Seen,NaN