In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("http://51.91.120.89/extras/diabetes.csv")
df

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,6,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1
1,1,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0
2,8,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
1531,10,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0
1532,2,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0
1533,5,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0
1534,1,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1
1535,1,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0

In [3]:
df.describe()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
count,1536.000000,1532.000000,1530.000000,1528.000000,1530.000000,1532.000000,1526.000000,1534.000000,1536.000000
mean,3.845052,120.763708,69.101961,20.498691,79.274510,31.994778,0.471843,33.230769,0.348958
std,3.368480,31.894098,19.381680,15.930062,114.895763,7.870785,0.331776,11.760723,0.476796
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243250,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,25.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,126.000000,36.600000,0.626750,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
df.isna().sum()

pregnancies                  0
glucose                      4
bloodpressure                6
skinthickness                8
insulin                      6
bmi                          4
diabetespedigreefunction    10
age                          2
outcome                      0
dtype: int64

In [6]:
df.outcome.value_counts()

0    1000
1     536
Name: outcome, dtype: int64

In [8]:
for col in [ 'glucose', 'bloodpressure', 'skinthickness', 'insulin', 'bmi', 'diabetespedigreefunction', 'age']:
    df[col].replace(0, np.NaN, inplace=True)
    mean_ = df[col].mean()
    df[col].fillna(mean_, inplace=True)

In [9]:
df.describe()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
count,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000
mean,3.845052,121.557162,72.415068,29.109665,155.102302,32.460927,0.471843,33.230769,0.348958
std,3.368480,30.314180,12.082412,8.759883,84.603816,6.848550,0.330694,11.753059,0.476796
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,122.000000,27.575000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.415068,29.109665,155.102302,32.400000,0.375500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,155.102302,36.525000,0.624500,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
df[df.duplicated()].outcome.value_counts()

0    500
1    268
Name: outcome, dtype: int64