In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame()
df_gen = pd.read_csv("../Dzien02/sales-records.csv", chunksize=95_123)
for chunk in df_gen:
    chunk = chunk.query(" `Units Sold`>=300 and `Units Sold`<=3000 ") # przefiltrowany fragment pliku CSV
    df = df.append(chunk)
    print(".", end="")
df

...........

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
5,Asia,Sri Lanka,Fruits,Online,L,11/7/2011,830192887,12/18/2011,1379,9.33,6.92,12866.07,9542.68,3323.39
6,Sub-Saharan Africa,Seychelles,Beverages,Online,M,1/18/2013,425793445,2/16/2013,597,47.45,31.79,28327.65,18978.63,9349.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999963,Sub-Saharan Africa,South Africa,Vegetables,Online,H,7/20/2011,705534970,7/20/2011,2331,154.06,90.93,359113.86,211957.83,147156.03
999973,Sub-Saharan Africa,Sao Tome and Principe,Snacks,Online,C,7/22/2011,838171708,7/27/2011,2489,152.58,97.44,379771.62,242528.16,137243.46
999975,Europe,Lithuania,Snacks,Online,H,2/28/2012,457798421,4/15/2012,1581,152.58,97.44,241228.98,154052.64,87176.34
999985,Asia,North Korea,Office Supplies,Online,M,4/12/2014,624163186,4/27/2014,2612,651.21,524.96,1700960.52,1371195.52,329765.00
999986,Sub-Saharan Africa,Republic of the Congo,Cosmetics,Offline,H,2/4/2013,788361155,2/9/2013,2440,437.20,263.33,1066768.00,642525.20,424242.80