In [1]:
import pandas as pd

In [3]:
# ładowanie pliku CSV
df = pd.read_csv("http://51.91.120.89/extras/f500.csv")
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [4]:
df.columns

Index(['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [5]:
# ładowanie pliku CSV
df = pd.read_csv("http://51.91.120.89/extras/f500.csv", usecols=['profits','company', 'rank'])
df

                            company  rank  profits
0                           Walmart     1  13643.0
1                        State Grid     2   9571.3
2                     Sinopec Group     3   1257.9
3          China National Petroleum     4   1867.5
4                      Toyota Motor     5  16899.3
..                              ...   ...      ...
495  Teva Pharmaceutical Industries   496    329.0
496        New China Life Insurance   497    743.9
497       Wm. Morrison Supermarkets   498    406.4
498                             TUI   499   1151.7
499                      AutoNation   500    430.5

[500 rows x 3 columns]

In [6]:
df = pd.read_csv("http://51.91.120.89/extras/f500.csv", usecols=[0,1,4])
df

                            company  rank  profits
0                           Walmart     1  13643.0
1                        State Grid     2   9571.3
2                     Sinopec Group     3   1257.9
3          China National Petroleum     4   1867.5
4                      Toyota Motor     5  16899.3
..                              ...   ...      ...
495  Teva Pharmaceutical Industries   496    329.0
496        New China Life Insurance   497    743.9
497       Wm. Morrison Supermarkets   498    406.4
498                             TUI   499   1151.7
499                      AutoNation   500    430.5

[500 rows x 3 columns]

In [9]:
df = pd.read_csv("http://51.91.120.89/extras/f500.csv", usecols=lambda c:c.startswith( ('c','p') ) )
df

,company,profits,profit_change,ceo,previous_rank,country
0,Walmart,13643.0,-7.2,C. Douglas McMillon,1,USA
1,State Grid,9571.3,-6.2,Kou Wei,2,China
2,Sinopec Group,1257.9,-65.0,Wang Yupu,4,China
3,China National Petroleum,1867.5,-73.7,Zhang Jianhua,3,China
4,Toyota Motor,16899.3,-12.3,Akio Toyoda,8,Japan
...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,329.0,-79.3,Yitzhak Peterburg,0,Israel
496,New China Life Insurance,743.9,-45.6,Wan Feng,427,China
497,Wm. Morrison Supermarkets,406.4,20.4,David T. Potts,437,Britain
498,TUI,1151.7,195.5,Friedrich Joussen,467,Germany
499,AutoNation,430.5,-2.7,Michael J. Jackson,0,USA

In [17]:
# plik CSV bez wiersza nagłówkowego
_names = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']

df = pd.read_csv("http://51.91.120.89/extras/f500nh.csv", header=None, names=_names, skiprows=10, comment="#")
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
1,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
2,UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
3,CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
4,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
486,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
487,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
488,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
489,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [18]:
df.head(10)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
1,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
2,UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
3,CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
4,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
5,Glencore,16,173883,2.0,1379.0,124600,NaN,Ivan Glasenberg,"Mining, Crude-Oil Production",Energy,14,Switzerland,"Baar, Switzerland",http://www.glencore.com,7,93123,44243
6,Daimler,17,169483,2.2,9428.4,256262,0.9,Dieter Zetsche,Motor Vehicles and Parts,Motor Vehicles & Parts,16,Germany,"Stuttgart, Germany",http://www.daimler.com,23,282488,61116
7,General Motors,18,166380,9.2,9427.0,221690,-2.7,Mary T. Barra,Motor Vehicles and Parts,Motor Vehicles & Parts,20,USA,"Detroit, MI",http://www.gm.com,23,225000,43836
8,AT&T,19,163786,11.6,12976.0,403821,-2.8,Randall L. Stephenson,Telecommunications,Telecommunications,23,USA,"Dallas, TX",http://www.att.com,23,268540,123135
9,EXOR Group,20,154894,1.5,651.3,186172,-21.1,John Elkann,Diversified Financials,Financials,19,Netherlands,"Amsterdam, Netherlands",http://www.exor.com,7,302562,11582

In [19]:
df.tail(1)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
489,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [20]:
df.sample(n=6)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
239,Manulife Financial,250,40238,49.4,2209.7,537461,28.9,Donald A. Guloien,"Insurance: Life, Health (stock)",Financials,394,Canada,"Toronto, Ontario, Canada",http://www.manulife.com,15,34500,31197
246,Delta Air Lines,257,39639,-2.6,4373.0,51261,-3.4,Edward H. Bastian,Airlines,Transportation,239,USA,"Atlanta, GA",http://www.delta.com,23,83756,12287
93,Groupe BPCE,104,70517,25.5,4410.1,1302721,22.6,Francois Perol,Banks: Commercial and Savings,Financials,155,France,"Paris, France",http://www.groupebpce.fr,8,102827,64820
149,Marathon Petroleum,160,55858,-13.5,1174.0,44413,-58.8,Gary R. Heminger,Petroleum Refining,Energy,120,USA,"Findlay, OH",http://www.marathonpetroleum.com,6,44460,13557
215,Lenovo Group,226,43035,-4.2,535.1,27186,NaN,Yang Yuanqing,"Computers, Office Equipment",Technology,202,China,"Hong Kong, China",http://www.lenovo.com,8,52000,3224
421,Standard Life,432,25279,46.9,496.7,235324,-77.2,Keith Skeoch,Diversified Financials,Financials,0,Britain,"Edinburgh, Britain",http://www.standardlife.com,19,6302,5370

In [21]:
df.sample(frac=.01)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
479,China General Technology,490,22113,-20.1,413.6,20860,-20.8,Xu Xianping,"Engineering, Construction",Engineering & Construction,383,China,"Beijing, China",http://www.genertec.com.cn,4,38589,5114
257,Hengli Group,268,37880,12.2,821.7,14838,43.7,Chen Jianhua,Textiles,Industrials,0,China,"Suzhou City, China",http://www.hengli.com,1,61400,5498
160,Bank of Communications,171,52990,-7.1,10116.9,1209176,-4.4,Niu Ximing,Banks: Commercial and Savings,Financials,153,China,"Shanghai, China",http://www.bankcomm.com,9,95160,90531
164,AIG,175,52367,-10.2,-849.0,498264,-138.7,Brian Duperreault,Insurance: Property and Casualty (Stock),Financials,150,USA,"New York, NY",http://www.aig.com,22,56400,76300
385,Twenty-First Century Fox,396,27326,-5.7,2755.0,48365,-66.8,James R. Murdoch,Entertainment,Media,360,USA,"New York, NY",http://www.21cf.com,23,21500,13661

In [22]:
df.dtypes

company                      object
rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [23]:
df["rank"].min(), df["rank"].max()

(11, 500)

In [24]:
# plik CSV bez wiersza nagłówkowego
_names = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']

df = pd.read_csv("http://51.91.120.89/extras/f500nh.csv", header=None, names=_names, dtype={
    "rank" : "int16", "revenue_change" : "float32"
})
df.dtypes

company                      object
rank                          int16
revenues                      int64
revenue_change              float32
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [27]:
_names = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']

df = pd.read_csv("http://51.91.120.89/extras/f500nh.csv", header=None, names=_names, converters={
    "rank" : lambda x: int(x)<=10
})
df.head(15)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,True,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,True,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,True,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,True,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,True,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,True,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,True,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,True,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,True,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,True,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
10,McKesson,False,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
11,BP,False,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
12,UnitedHealth Group,False,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
13,CVS Health,False,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
14,Samsung Electronics,False,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376

In [28]:
df.index

RangeIndex(start=0, stop=500, step=1)

In [32]:
df.set_index("company", inplace=True)
df.index

Index(['Walmart', 'State Grid', 'Sinopec Group', 'China National Petroleum',
       'Toyota Motor', 'Volkswagen', 'Royal Dutch Shell', 'Berkshire Hathaway',
       'Apple', 'Exxon Mobil',
       ...
       'National Grid', 'Dollar General', 'Telecom Italia',
       'Xiamen ITG Holding Group', 'Xinjiang Guanghui Industry Investment',
       'Teva Pharmaceutical Industries', 'New China Life Insurance',
       'Wm. Morrison Supermarkets', 'TUI', 'AutoNation'],
      dtype='object', name='company', length=500)

In [34]:
df.reset_index(inplace=True)
df.index

RangeIndex(start=0, stop=500, step=1)

In [35]:
_names = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']

df = pd.read_csv("http://51.91.120.89/extras/f500nh.csv", header=None, names=_names, index_col="company" )
df.head(15)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376

### Ładowanie XLSa

In [49]:
df = pd.read_excel("http://51.91.120.89/extras/films.xlsx", sheet_name=1)
df

,Entry,Film,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country,Unnamed: 9
0,1,Chinatown,Roman Polanski,"Faye Dunaway, Jack Nicholson, John Huston",1974,1.0,http://www.imdb.com/title/tt0071315/,http://www.guardian.co.uk/film/movie/36302/chi...,USA,NaN
1,2,Touch of Evil,Orson Welles,"Charlton Heston, Janet Leigh, Marlene Dietrich...",1958,NaN,http://www.imdb.com/title/tt0052311/,http://www.guardian.co.uk/film/movie/36217/tou...,USA,NaN
2,3,Vertigo,Alfred Hitchcock,"Barbara Bel Geddes, James Stewart, Kim Novak",1958,NaN,http://www.imdb.com/title/tt0052357/,http://www.guardian.co.uk/film/movie/34909/ver...,USA,NaN
3,4,Badlands,Terrence Malik,"Alan Vint, Martin Sheen, Ramon Bieri, Sissy Sp...",1973,NaN,http://www.imdb.com/title/tt0069762/,http://www.guardian.co.uk/film/movie/76181/bad...,USA,NaN
4,5,Rashomon,Akira Kurosawa,"Machiko Kyo, Masayuki Mori, Toshiro Mifune",1950,NaN,http://www.imdb.com/title/tt0042876/,http://www.guardian.co.uk/film/movie/83179/ras...,Japan,NaN
5,6,Double Indemnity,Billy Wilder,"Porter Hall, Jean Heather, Byron Barr, Richard...",1944,NaN,http://www.imdb.com/title/tt0036775/,http://www.guardian.co.uk/film/movie/36162/dou...,USA,NaN
6,7,Get Carter,Mike Hodges,"Brian Mosley, Britt Ekland, Geraldine Moffatt,...",1971,NaN,http://www.imdb.com/title/tt0067128/,http://www.guardian.co.uk/film/movie/36294/get...,UK,NaN
7,8,Pulp Fiction,Quentin Tarantino,"Amanda Plummer, Bruce Willis, Eric Stoltz, Har...",1994,1.0,http://www.imdb.com/title/tt0110912/,http://www.guardian.co.uk/film/movie/56612/pul...,USA,NaN
8,9,Hidden,Michael Haneke,"Annie Girardot, Daniel Auteuil, Juliette Binoc...",2005,NaN,http://www.imdb.com/title/tt0387898/,http://www.guardian.co.uk/film/movie/108597/hi...,France,NaN
9,10,Goodfellas,Martin Scorsese,"Frank Vincent, Joe Pesci, Lorraine Bracco, Ra...",1990,1.0,http://www.imdb.com/title/tt0099685/,http://www.guardian.co.uk/film/movie/37702/goo...,USA,NaN
10,11,The Conversation,"Francis Coppola, Francis Ford Coppola","Allen Garfield, Gene Hackman, John Cazale",1974,NaN,http://www.imdb.com/title/tt0071360/,http://www.guardian.co.uk/film/movie/77114/con...,USA,NaN
11,12,Bonnie & Clyde,Arthur Penn,"Faye Dunaway, Gene Hackman, Michael J Pollard,...",1967,2.0,http://www.imdb.com/title/tt0061418/,http://www.guardian.co.uk/film/movie/76253/bon...,USA,NaN
12,13,The Killing,Stanley Kubrick,"Coleen Gray, Elisha Cook Junior, Jay C Flippe...",1956,NaN,http://www.imdb.com/title/tt0049406/,http://www.guardian.co.uk/film/movie/87920/kil...,USA,NaN
13,14,French Connection,William Friedkin,"Fernando Rey, Gene Hackman, Roy Schieder, Tony...",1971,5.0,http://www.imdb.com/title/tt0067116/,http://www.guardian.co.uk/film/movie/36293/fre...,USA,NaN
14,15,The Big Sleep,Howard Hawkes,"Bob Steele, Elisha Cook Jr, Elisha Cook Jr., H...",1946,NaN,http://www.imdb.com/title/tt0038355/,http://www.guardian.co.uk/film/movie/34621/big...,USA,NaN
15,16,La Ceremonie,Claude Chabrol,"Isabelle Huppert, Jacqueline Bisset, Sandrine ...",1995,NaN,http://www.imdb.com/title/tt0112769/,http://www.guardian.co.uk/film/movie/80763/cer...,France,NaN
16,17,Point Blank,John Boorman,"Angie Dickinson, Keenan Wynn, Lee Marvin",1967,NaN,http://www.imdb.com/title/tt0062138/,http://www.guardian.co.uk/film/movie/36266/poi...,USA,NaN
17,18,Hard Boiled,John Woo,"Chow Yun Fat, Tony Leung",1992,NaN,http://www.imdb.com/title/tt0104684/,http://www.guardian.co.uk/film/movie/82687/har...,Hong Kong,NaN
18,19,Long Good Friday,John McKenzie,"Bob Hoskins, Bryan Marshall, Dave King, Helen ...",1980,NaN,http://www.imdb.com/title/tt0081070/,http://www.guardian.co.uk/film/movie/36322/lon...,UK,NaN
19,20,A Prophet,Jacques Audiard,"Adel Bencherif, Niels Arestrup, Tahar Rahim, T...",2009,NaN,http://www.imdb.com/title/tt1235166/,http://www.guardian.co.uk/film/movie/129970/pr...,France,NaN
20,20,Heat,Michael Mann,"Al Pacino, Ashley Judd, Jon Voight, Robert De ...",1995,NaN,http://www.imdb.com/title/tt0113277/,http://www.guardian.co.uk/film/movie/60365/heat,USA,NaN
21,20,Scarface (1983),Brian De Palma,"Al Pacino, Mary Elizabeth Mastrantonio, Michel...",1983,NaN,http://www.imdb.com/title/tt0086250/,http://www.guardian.co.uk/film/movie/78370/sca...,USA,NaN
22,23,Miller’s Crossing,Joel Coen,"Albert Finney, Gabriel Byrne, Marcia Gay Harden",1990,NaN,http://www.imdb.com/title/tt0100150/,http://www.guardian.co.uk/film/movie/78569/mil...,USA,NaN
23,24,Postman Always Rings Twice (1942),Tay Garnett,"Cecil Kellaway, John Garfield, Lana Turner",1946,NaN,http://www.imdb.com/title/tt0038854/,http://www.guardian.co.uk/film/movie/90190/pos...,USA,NaN
24,25,Jour Se Leve,Marcel Carne,"Annabella, Arletty, Jean Gabin",1939,NaN,http://www.imdb.com/title/tt0031514/,http://www.guardian.co.uk/film/movie/76684/jou...,France,NaN

In [44]:
df_dict = pd.read_excel("http://51.91.120.89/extras/films.xlsx", sheet_name=None)
df_dict.get("HORROR")

,Entry,Film,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country
0,1,Psycho,Alfred Hitchcock,"Anthony Perkins, Janet Leigh, Vera Miles",1960,NaN,http://www.imdb.com/title/tt0054215/,http://www.guardian.co.uk/film/movie/34630/psycho,USA
1,2,Rosemary’s Baby,Roman Polanski,"John Cassavetes, Mia Farrow, Ruth Gordon",1968,1.0,http://www.imdb.com/title/tt0063522/,http://www.guardian.co.uk/film/movie/80947/ros...,USA
2,3,Don’t Look Now,Nicholas Roeg,"Donald Sutherland, Hilary Mason, Julie Christie",1973,NaN,http://www.imdb.com/title/tt0069995/,http://www.guardian.co.uk/film/movie/35097/don...,UK
3,4,The Wicker Man,Robin Hardy,"Britt Ekland, Christopher Lee, Edward Woodward",1973,NaN,http://www.imdb.com/title/tt0070917/,http://www.guardian.co.uk/film/movie/36301/wic...,UK
4,5,The Shining,Stanley Kubrick,"Danny Lloyd, Jack Nicholson, Shelley Duval",1980,NaN,http://www.imdb.com/title/tt0081505/,http://www.guardian.co.uk/film/movie/76626/shi...,USA
5,6,The Exorcist,William Friedkin,"Ellen Burstyn, Linda Blair, Max von Sydow",1973,2.0,http://www.imdb.com/title/tt0070047/,http://www.guardian.co.uk/film/movie/86477/exo...,USA
6,7,Nosferatu (1922),FW Mernau,"Alexander Granach, Greta Schroder, Gustav von ...",1922,NaN,http://www.imdb.com/title/tt0013442/,http://www.guardian.co.uk/film/movie/75839/nos...,Germany
7,8,Let the Right One In,Tomas Alfredson,"Henrik Dahl, Kare Hedebrant, Karin Bergquist,...",2008,NaN,http://www.imdb.com/title/tt1139797/,http://www.guardian.co.uk/film/movie/125671/le...,Sweden
8,9,Vampyr,Carl Theodor Dreyer,"Henriette Gérard, Henriette Gerard, Julian Wes...",1932,NaN,http://www.imdb.com/title/tt0023649/,http://www.guardian.co.uk/film/movie/80562/vampyr,Germany
9,10,Peeping Tom,Michael Powell,"Anna Massey, Carl Boehm, Esmond Knight, Karl B...",1960,NaN,http://www.imdb.com/title/tt0054167/,http://www.guardian.co.uk/film/movie/36228/pee...,UK
10,11,The Innocents,Jack Clayton,"Clytie Jessop, Deborah Kerr, Michael Redgrave,...",1961,NaN,http://www.imdb.com/title/tt0055018/,http://www.guardian.co.uk/film/movie/77279/inn...,USA
11,12,Ringu,Hideo Nakata,"Nanako Matsushima, Hiroyuki Sanada, Rikiya Otaka",1998,NaN,http://www.imdb.com/title/tt0178868/,http://www.guardian.co.uk/film/movie/121191/ringu,Japan
12,13,The Haunting,Robert Wise,"Claire Bloom, Julie Harris, Richard Johnson",1963,NaN,http://www.imdb.com/title/tt0057129/,http://www.guardian.co.uk/film/movie/99697/hau...,USA
13,14,Texas Chainsaw Massacre,Tobe Hooper,"Edwin Neal, Jim Siedow, Marilyn Burns, Paul A...",1974,NaN,http://www.imdb.com/title/tt0072271/,http://www.guardian.co.uk/film/movie/82763/tex...,USA
14,15,Dead of Night,"Alberto Cavalcanti, Charles Crichton","Googie Withers, Mervyn Johns, Michael Redgrave",1945,NaN,http://www.imdb.com/title/tt0037635/,http://www.guardian.co.uk/film/movie/79561/dea...,UK
15,16,The Cabinet of Dr Caligari,Robert Wiene,"Conrad Veidt, Lil Dagover, Werner Krauss",1920,NaN,http://www.imdb.com/title/tt0010323/,http://www.guardian.co.uk/film/movie/77300/cab...,Germany
16,17,Halloween,John Carpenter,"Donald Pleasance, Donald Pleasence, Jamie Lee ...",1978,NaN,http://www.imdb.com/title/tt0077651/,http://www.guardian.co.uk/film/movie/104810/ha...,USA
17,18,Bride of Frankenstein,James Whale,"Boris Karloff, Colin Clive, Elsa Lanchester",1935,NaN,http://www.imdb.com/title/tt0026138/,http://www.guardian.co.uk/film/movie/34577/bri...,USA
18,19,Les Diaboliques,Henri-Georges Clouzot,"Paul Meurisse, Simone Signoret, Vera Clouzot",1955,NaN,http://www.imdb.com/title/tt0046911/,http://www.guardian.co.uk/film/movie/75862/dia...,France
19,20,Audition,Miike Takashi,"Eihi Shiina, Ishibashi Renji, Ishibashi Ryo, M...",1999,NaN,http://www.imdb.com/title/tt0235198/,http://www.guardian.co.uk/film/movie/84815/aud...,Korea
20,20,Dracula (1958),Terence Fisher,"Christopher Lee, Melissa Stribling, Michael Go...",1958,NaN,http://www.imdb.com/title/tt0051554/,http://www.guardian.co.uk/film/movie/36215/dra...,UK
21,22,The Blair Witch Project,"Daniel Myrick, E Sanchez","Heather Donahue, Joshua Leonard, Michael C. Wi...",1999,NaN,http://www.imdb.com/title/tt0185937/,http://www.guardian.co.uk/film/movie/79459/bla...,USA
22,23,Evil Dead/Evil Dead II,Sam Raimi,"Betsy Baker, Bruce Campbell, Ellen Sandweiss",1981/ 1987,NaN,http://www.imdb.com/title/tt0083907/,http://www.guardian.co.uk/film/movie/34582/evi...,USA
23,24,Carrie,Brian De Palma,"John Travolta, Piper Laurie, Sissy Spacek",1976,NaN,http://www.imdb.com/title/tt0074285/,http://www.guardian.co.uk/film/movie/81489/carrie,USA
24,25,Les Vampires (1915),Louis Feuillade,"Edouard Mathe, Marcel Levesque",1915,NaN,http://www.imdb.com/title/tt0006206/,http://www.guardian.co.uk/film/movie/117077/va...,France

In [45]:
df_dict.get("ROMANCE")

,Entry,Film,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country
0,1,Brief Encounter,David Lean,"Celia Johnson, Cyril Raymond, Stanley Holloway...",1945,NaN,http://www.imdb.com/title/tt0037558/,http://www.guardian.co.uk/film/movie/35664/bri...,UK
1,2,Casablanca,Michael Curtiz,"Claude Rains, Humphrey Bogart, Ingrid Bergman,...",1942,3.0,http://www.imdb.com/title/tt0034583/,http://www.guardian.co.uk/film/movie/36156/cas...,USA
2,3,Before Sunrise,Richard Linklater,Ethan Hawke and Julie Delpy,1995,NaN,http://www.imdb.com/title/tt0112471/,http://www.guardian.co.uk/film/movie/58808/bef...,USA
3,3,Before Sunset,Richard Linklater,Ethan Hawke and Julie Delpy,2004,NaN,http://www.imdb.com/title/tt0381681/awards,http://www.guardian.co.uk/film/movie/101181/be...,USA
4,4,Breathless,Jean-Luc Godard,"Jean Seberg, Jean-Paul Belmondo",1960,NaN,http://www.imdb.com/title/tt0053472/,http://www.guardian.co.uk/film/movie/36219/a-b...,France
5,5,In the Mood for Love,Kar Wai Wong,"Maggie Cheung Man-Yuk, Rebecca Pan, Tony Leung...",2000,NaN,http://www.imdb.com/title/tt0118694/,http://www.guardian.co.uk/film/movie/85442/in....,Hong Kong
6,6,The Apartment,Billy Wilder,"Fred MacMurray, Jack Lemmon, Ray Walston, Shir...",1960,NaN,http://www.imdb.com/title/tt0053604/,http://www.guardian.co.uk/film/movie/36225/apa...,USA
7,7,Hannah & Her Sisters,Woody Allen,"Barbara Hershey, Carrie Fisher, Dianne Wiest, ...",1986,3.0,http://www.imdb.com/title/tt0091167/,http://www.guardian.co.uk/film/movie/89162/han...,USA
8,8,Eternal Sunshine of the Spotless Mind,Michel Gondry,"Elijah Wood, Jim Carrey, Kate Winslet, Kirsten...",2004,1.0,http://www.imdb.com/title/tt0338013/,http://www.guardian.co.uk/film/movie/100140/et...,USA
9,9,Room With a View,James Ivory,"Helena Bonham Carter, Julian Sands, Maggie Smith",1985,3.0,http://www.imdb.com/title/tt0091867/,http://www.guardian.co.uk/film/movie/77615/roo...,UK
10,10,Jules et Jim,François Truffaut,"Henri Serre, Jeanne Moreau, Oscar Werner, Oska...",1962,NaN,http://www.imdb.com/title/tt0055032/,http://www.guardian.co.uk/film/movie/76699/jul...,France
11,11,All That Heaven Allows,Douglas Sirk,"Jane Wyman, Rock Hudson",1955,NaN,http://www.imdb.com/title/tt0047811/,http://www.guardian.co.uk/film/movie/94875/all...,USA
12,12,Gone with the Wind,Victor Fleming,"Anne Rutherford, Clark Gable, Hattie McDaniel,...",1939,8.0,http://www.imdb.com/title/tt0031381/,http://www.guardian.co.uk/film/movie/36144/gon...,USA
13,13,An Affair to Remember,Leo McCarey,"Cary Grant, Deborah Kerr, Richard Denning",1957,NaN,http://www.imdb.com/title/tt0050105/,http://www.guardian.co.uk/film/movie/82271/aff...,USA
14,14,Umbrellas of Cherbourg,Jaques Demy,"Anne Vernon, Catherine Deneuve, Nino Castelnuovo",1964,NaN,http://www.imdb.com/title/tt0058450/,http://www.guardian.co.uk/film/movie/77848/umb...,France
15,15,Lost in Translation,Sofia Coppola,"Bill Murray, Giovanni Ribisi, Scarlett Johansson",2003,1.0,http://www.imdb.com/title/tt0335266/,http://www.guardian.co.uk/film/movie/96936/los...,USA
16,15,Roman Holiday,William Wyler,"Audrey Hepburn, Gregory Peck",1953,3.0,http://www.imdb.com/title/tt0046250/,http://www.guardian.co.uk/film/movie/96156/rom...,USA
17,15,Wall-E,Andrew Stanton,"Ben Burtt, Fred Willard, Jeff Garlin, Kathy Na...",2008,1.0,http://www.imdb.com/title/tt0910970/,http://www.guardian.co.uk/film/movie/125194/wa...,USA
18,18,My Night With Maud,Eric Rohmer,"Francoise Fabian, Jean-Louis Trintignant",1969,NaN,http://www.imdb.com/title/tt0064612/,http://www.guardian.co.uk/film/movie/77331/my-...,France
19,19,Voyage to Italy,Roberto Rossellini,Ingrid Bergman,1954,NaN,http://www.imdb.com/title/tt0046511/,http://www.guardian.co.uk/film/movie/88522/voy...,Italy
20,20,Dr Zhivago,David Lean,"Geraldine Chaplin, Julie Christie, Omar Sharif",1965,5.0,http://www.imdb.com/title/tt0059113/,http://www.guardian.co.uk/film/movie/78519/dr-...,USA
21,21,Harold & Maude,Hal Ashby,"Bud Cort, Cyril Cusack, Ruth Gordon, Vivian Pi...",1971,NaN,http://www.imdb.com/title/tt0067185/,http://www.guardian.co.uk/film/movie/78471/har...,USA
22,22,When Harry Met Sally,Rob Reiner,"Billy Crystal, Bruno Kirby, Carrie Fisher, Meg...",1989,NaN,http://www.imdb.com/title/tt0098635/,http://www.guardian.co.uk/film/movie/75869/whe...,USA
23,23,Say Anything....,Cameron crowe,"John Cusack, Ione Skye, John Mahoney",1989,NaN,http://www.imdb.com/title/tt0098258/,NaN,USA
24,24,Fabulous Baker Boys,Steve Kloves,"Beau Bridges, Jeff Bridges, Michelle Pfeiffer",1989,NaN,http://www.imdb.com/title/tt0097322/,http://www.guardian.co.uk/film/movie/134648/fa...,USA
25,25,A Matter of Life & Death,"Emeric Pressburger, Michael Powell","David Niven, Kim Hunter, Raymond Massey, Rich...",1946,NaN,http://www.imdb.com/title/tt0038733/,http://www.guardian.co.uk/film/movie/36173/mat...,UK

In [46]:
df_dict.keys()

dict_keys(['ROMANCE', 'CRIME', 'COMEDY', 'ACTION', 'ARTHOUSE AND DRAMA', 'SCI-FI AND FANTASY', 'HORROR'])

In [50]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\kurs\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\kurs\anaconda3\lib\site-packages (from openpyxl) (1.0.1)